.wrap{
    background-color: #0d5182;
}

.footer-menu{
    display: flex;
    justify-content: space-between;
}

.footer-menu__navBar{
    list-style: none;
    display: flex;
}

.footer-menu__navBar :first-child{
    background-color: #083657;
    margin-left: -30px;
    margin-top: 15px;
}

.brands__img{
    align-self: center;
}
