.wrap{
    background-color: #0d5182;
}

.footer-menu{
    display: flex;
    justify-content: space-between;
}

.footer-menu__navBar{
    list-style: none;
    display: flex;
}

.first{
    padding:10px 5px 0 5px;
    color: white;
    background-color: #083657;
    font-size: 12px;
    margin-left: -35px;
}

.brands__img{
    align-self: center;
}
