.container{
    position: relative;
}


.slider {
    display: flex;
    padding-top: 50px;
    width: 1210px;
    overflow: hidden;
    box-shadow: 0 10px 20px 5px rgb(0 0 0 / 10%);
}

.slider-line{
    width: 1210px;
    display: flex;
    position: relative;
    left: 0;
    transition: all 1s;
  
}

.card{
    border: 1px solid #e5e5e5;
    background: #fff;
    display: flex;
    margin-left: 8px;
    padding: 20px 30px;
}

.novelties-prev{
    position:absolute;
    top: 50%;
    left: -2%;
    cursor: pointer;
}

.novelties-next{
    cursor: pointer;
    position: absolute;
    top: 50%;
    left: 98%;
}

.block{
    display: flex;
    justify-content: center;
    padding: 50px;
}