<nav class="navBar">
    <div class="h1">
        <h1>{{menu.title}}</h1>
    </div>
    <div class="navBar__block">
        <li class="navBar__li" *ngFor="let sub of menu.subMenu">
            <app-subMenu [subMenu]="sub"></app-subMenu>
        </li>
    </div>

</nav>





<!-- 
    <p class="title">{{menu.title}}</p>
    <ul class="subMenu">
    <li *ngFor="let subMenu of menu.subMenu">
        {{subMenu.subTitle}}
        <ul>
            <li *ngFor="let text of subMenu.text">
                {{text}}
            </li>
        </ul>
    </li>
</ul> -->