<div class="container">
    <div class="middle">
        <div class="logo">
            <a href="#">
                <img class="logo__img"
                    src="https://www.zigzag.am/static/version1666962451/frontend/Magento/zigzag/hy_AM/images/svg/main_logo_am.svg">
            </a>
            <form class="middle__form">
                <div>
                    <input class="middle__input" type="text" placeholder="Մուտքագրեք ապրանքի անվանումը ">
                    <button class="middle__btn">Որոնել</button>
                </div>
                <a class="tell" href="tel:+37411900800">+374 11 900 800</a>
            </form>
        </div>
        <div class="middle__sale">
            <div><img src="assets/imgs/heart.png" alt=""></div>
            <div><img src="assets/imgs/scales.png" alt=""></div>
            <div><img src="assets/imgs/shopping.png" alt=""></div>
        </div>
    </div>
</div>